src/main/resources/rawAqSchemas/1.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.RequestDtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.RequestDtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" />
  <xs:complexType name="ApprovalListServiceRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ApprovalListServiceRequest" nillable="true" type="tns:ApprovalListServiceRequest" />
  <xs:complexType name="MonitoringMethodListServiceRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="MonitoringMethodListServiceRequest" nillable="true" type="tns:MonitoringMethodListServiceRequest" />
  <xs:complexType name="QualifierListServiceRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="QualifierListServiceRequest" nillable="true" type="tns:QualifierListServiceRequest" />
  <xs:complexType name="UpchainProcessorListByTimeSeriesServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="QueryFrom" nillable="true" xmlns:q1="http://schemas.datacontract.org/2004/07/System" type="q1:DateTimeOffset" />
      <xs:element minOccurs="0" name="QueryTo" nillable="true" xmlns:q2="http://schemas.datacontract.org/2004/07/System" type="q2:DateTimeOffset" />
      <xs:element minOccurs="0" name="TimeSeriesIdentifier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpchainProcessorListByTimeSeriesServiceRequest" nillable="true" type="tns:UpchainProcessorListByTimeSeriesServiceRequest" />
  <xs:complexType name="DownchainProcessorListByTimeSeriesServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="QueryFrom" nillable="true" xmlns:q3="http://schemas.datacontract.org/2004/07/System" type="q3:DateTimeOffset" />
      <xs:element minOccurs="0" name="QueryTo" nillable="true" xmlns:q4="http://schemas.datacontract.org/2004/07/System" type="q4:DateTimeOffset" />
      <xs:element minOccurs="0" name="TimeSeriesIdentifier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DownchainProcessorListByTimeSeriesServiceRequest" nillable="true" type="tns:DownchainProcessorListByTimeSeriesServiceRequest" />
  <xs:complexType name="TimeSeriesDescriptionListByIdentifierServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="TimeSeriesIdentifiers" nillable="true" xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" type="q5:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeSeriesDescriptionListByIdentifierServiceRequest" nillable="true" type="tns:TimeSeriesDescriptionListByIdentifierServiceRequest" />
  <xs:complexType name="TimeSeriesIdentifierListServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeEventType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChangesSinceToken" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ComputationIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComputationPeriodIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExtendedFilters" nillable="true" xmlns:q6="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" type="q6:ArrayOfExtendedAttributeFilter" />
      <xs:element minOccurs="0" name="LocationIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parameter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Publish" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeSeriesIdentifierListServiceRequest" nillable="true" type="tns:TimeSeriesIdentifierListServiceRequest" />
  <xs:complexType name="ParameterListServiceRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ParameterListServiceRequest" nillable="true" type="tns:ParameterListServiceRequest" />
  <xs:complexType name="GradeListServiceRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GradeListServiceRequest" nillable="true" type="tns:GradeListServiceRequest" />
  <xs:complexType name="CorrectionListServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="QueryFrom" nillable="true" xmlns:q7="http://schemas.datacontract.org/2004/07/System" type="q7:DateTimeOffset" />
      <xs:element minOccurs="0" name="QueryTo" nillable="true" xmlns:q8="http://schemas.datacontract.org/2004/07/System" type="q8:DateTimeOffset" />
      <xs:element minOccurs="0" name="TimeSeriesIdentifier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CorrectionListServiceRequest" nillable="true" type="tns:CorrectionListServiceRequest" />
  <xs:complexType name="SensorsAndGaugesServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="LocationIdentifier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SensorsAndGaugesServiceRequest" nillable="true" type="tns:SensorsAndGaugesServiceRequest" />
  <xs:complexType name="FieldVisitDataServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="DiscreteMeasurementActivity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldVisitIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncludeInvalidActivities" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="IncludeNodeDetails" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldVisitDataServiceRequest" nillable="true" type="tns:FieldVisitDataServiceRequest" />
  <xs:complexType name="RatingModelEffectiveShiftsServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="QueryFrom" nillable="true" xmlns:q9="http://schemas.datacontract.org/2004/07/System" type="q9:DateTimeOffset" />
      <xs:element minOccurs="0" name="QueryTo" nillable="true" xmlns:q10="http://schemas.datacontract.org/2004/07/System" type="q10:DateTimeOffset" />
      <xs:element minOccurs="0" name="RatingModelIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeSeriesIdentifier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RatingModelEffectiveShiftsServiceRequest" nillable="true" type="tns:RatingModelEffectiveShiftsServiceRequest" />
  <xs:complexType name="TimeSeriesApprovalsTransactionListServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="QueryFrom" nillable="true" xmlns:q11="http://schemas.datacontract.org/2004/07/System" type="q11:DateTimeOffset" />
      <xs:element minOccurs="0" name="QueryTo" nillable="true" xmlns:q12="http://schemas.datacontract.org/2004/07/System" type="q12:DateTimeOffset" />
      <xs:element minOccurs="0" name="TimeSeriesIdentifier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeSeriesApprovalsTransactionListServiceRequest" nillable="true" type="tns:TimeSeriesApprovalsTransactionListServiceRequest" />
  <xs:complexType name="GetAuthTokenServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="EncryptedPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Locale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAuthTokenServiceRequest" nillable="true" type="tns:GetAuthTokenServiceRequest" />
  <xs:complexType name="ExpandedStageTableServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndValue" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="StartValue" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="StepSize" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="TimeSeriesIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UtcOffset" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpandedStageTableServiceRequest" nillable="true" type="tns:ExpandedStageTableServiceRequest" />
  <xs:complexType name="FieldVisitDescriptionListServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangesSinceToken" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IncludeInvalidFieldVisits" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LocationIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QueryFrom" nillable="true" xmlns:q13="http://schemas.datacontract.org/2004/07/System" type="q13:DateTimeOffset" />
      <xs:element minOccurs="0" name="QueryTo" nillable="true" xmlns:q14="http://schemas.datacontract.org/2004/07/System" type="q14:DateTimeOffset" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldVisitDescriptionListServiceRequest" nillable="true" type="tns:FieldVisitDescriptionListServiceRequest" />
  <xs:complexType name="EffectiveRatingCurveServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="EffectiveTime" nillable="true" xmlns:q15="http://schemas.datacontract.org/2004/07/System" type="q15:DateTimeOffset" />
      <xs:element minOccurs="0" name="EndValue" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="InputUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutputUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RatingModelIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartValue" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="StepSize" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="UtcOffset" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EffectiveRatingCurveServiceRequest" nillable="true" type="tns:EffectiveRatingCurveServiceRequest" />
  <xs:complexType name="LocationDataServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="LocationIdentifier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationDataServiceRequest" nillable="true" type="tns:LocationDataServiceRequest" />
  <xs:complexType name="LocationDescriptionListServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangesSinceToken" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExtendedFilters" nillable="true" xmlns:q16="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" type="q16:ArrayOfExtendedAttributeFilter" />
      <xs:element minOccurs="0" name="LocationFolder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationDescriptionListServiceRequest" nillable="true" type="tns:LocationDescriptionListServiceRequest" />
  <xs:complexType name="TimeSeriesDataRawServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplyRounding" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="GetParts" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QueryFrom" nillable="true" xmlns:q17="http://schemas.datacontract.org/2004/07/System" type="q17:DateTimeOffset" />
      <xs:element minOccurs="0" name="QueryTo" nillable="true" xmlns:q18="http://schemas.datacontract.org/2004/07/System" type="q18:DateTimeOffset" />
      <xs:element minOccurs="0" name="TimeSeriesIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UtcOffset" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeSeriesDataRawServiceRequest" nillable="true" type="tns:TimeSeriesDataRawServiceRequest" />
  <xs:complexType name="TimeSeriesDataCorrectedServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplyRounding" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="GetParts" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QueryFrom" nillable="true" xmlns:q19="http://schemas.datacontract.org/2004/07/System" type="q19:DateTimeOffset" />
      <xs:element minOccurs="0" name="QueryTo" nillable="true" xmlns:q20="http://schemas.datacontract.org/2004/07/System" type="q20:DateTimeOffset" />
      <xs:element minOccurs="0" name="TimeSeriesIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UtcOffset" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="View" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeSeriesDataCorrectedServiceRequest" nillable="true" type="tns:TimeSeriesDataCorrectedServiceRequest" />
  <xs:complexType name="RatingModelDescriptionListServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangesSinceToken" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="InputParameter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocationIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutputParameter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Publish" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RatingModelDescriptionListServiceRequest" nillable="true" type="tns:RatingModelDescriptionListServiceRequest" />
  <xs:complexType name="RatingModelInputValuesServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="EffectiveTime" nillable="true" xmlns:q21="http://schemas.datacontract.org/2004/07/System" type="q21:DateTimeOffset" />
      <xs:element minOccurs="0" name="OutputValues" nillable="true" xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" type="q22:ArrayOfdouble" />
      <xs:element minOccurs="0" name="RatingModelIdentifier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RatingModelInputValuesServiceRequest" nillable="true" type="tns:RatingModelInputValuesServiceRequest" />
  <xs:complexType name="RatingModelOutputValuesServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplyShifts" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="EffectiveTime" nillable="true" xmlns:q23="http://schemas.datacontract.org/2004/07/System" type="q23:DateTimeOffset" />
      <xs:element minOccurs="0" name="InputValues" nillable="true" xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" type="q24:ArrayOfdouble" />
      <xs:element minOccurs="0" name="RatingModelIdentifier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RatingModelOutputValuesServiceRequest" nillable="true" type="tns:RatingModelOutputValuesServiceRequest" />
  <xs:complexType name="RatingCurveListServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="QueryFrom" nillable="true" xmlns:q25="http://schemas.datacontract.org/2004/07/System" type="q25:DateTimeOffset" />
      <xs:element minOccurs="0" name="QueryTo" nillable="true" xmlns:q26="http://schemas.datacontract.org/2004/07/System" type="q26:DateTimeOffset" />
      <xs:element minOccurs="0" name="RatingModelIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UtcOffset" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RatingCurveListServiceRequest" nillable="true" type="tns:RatingCurveListServiceRequest" />
  <xs:complexType name="TimeSeriesDescriptionServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComputationIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComputationPeriodIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExtendedFilters" nillable="true" xmlns:q27="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" type="q27:ArrayOfExtendedAttributeFilter" />
      <xs:element minOccurs="0" name="LocationIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parameter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Publish" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeSeriesDescriptionServiceRequest" nillable="true" type="tns:TimeSeriesDescriptionServiceRequest" />
  <xs:complexType name="UnitListServiceRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="UnitListServiceRequest" nillable="true" type="tns:UnitListServiceRequest" />
</xs:schema>