src/main/resources/rawAqSchemas/12.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" />
  <xs:complexType name="FieldVisitApproval">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApprovalLevel" type="xs:long" />
      <xs:element minOccurs="0" name="LevelDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldVisitApproval" nillable="true" type="tns:FieldVisitApproval" />
  <xs:complexType name="ArrayOfAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attachment" nillable="true" type="tns:Attachment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttachment" nillable="true" type="tns:ArrayOfAttachment" />
  <xs:complexType name="Attachment">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttachmentCategory" xmlns:q1="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q1:AttachmentCategory" />
      <xs:element minOccurs="0" name="AttachmentType" xmlns:q2="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q2:AttachmentType" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCreated" xmlns:q3="http://schemas.datacontract.org/2004/07/System" type="q3:DateTimeOffset" />
      <xs:element minOccurs="0" name="DateLastAccessed" nillable="true" xmlns:q4="http://schemas.datacontract.org/2004/07/System" type="q4:DateTimeOffset" />
      <xs:element minOccurs="0" name="DateUploaded" xmlns:q5="http://schemas.datacontract.org/2004/07/System" type="q5:DateTimeOffset" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GpsLatitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="GpsLongitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="UploadedByUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Attachment" nillable="true" type="tns:Attachment" />
  <xs:complexType name="ControlConditionActivity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ControlCleaned" xmlns:q6="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q6:ControlCleanedType" />
      <xs:element minOccurs="0" name="ControlCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ControlCondition" xmlns:q7="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q7:ControlConditionType" />
      <xs:element minOccurs="0" name="DateCleaned" nillable="true" xmlns:q8="http://schemas.datacontract.org/2004/07/System" type="q8:DateTimeOffset" />
      <xs:element minOccurs="0" name="DistanceToGage" nillable="true" type="tns:QuantityWithDisplay" />
      <xs:element minOccurs="0" name="FlowOverControl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="Party" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ControlConditionActivity" nillable="true" type="tns:ControlConditionActivity" />
  <xs:complexType name="QuantityWithDisplay">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" base="q9:DoubleWithDisplay">
        <xs:sequence>
          <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QuantityWithDisplay" nillable="true" type="tns:QuantityWithDisplay" />
  <xs:complexType name="ArrayOfDischargeActivity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DischargeActivity" nillable="true" type="tns:DischargeActivity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDischargeActivity" nillable="true" type="tns:ArrayOfDischargeActivity" />
  <xs:complexType name="DischargeActivity">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdcpDischargeActivities" nillable="true" type="tns:ArrayOfAdcpDischargeActivity" />
      <xs:element minOccurs="0" name="DischargeSummary" nillable="true" type="tns:DischargeSummary" />
      <xs:element minOccurs="0" name="EngineeredStructureDischargeActivities" nillable="true" type="tns:ArrayOfEngineeredStructureDischargeActivity" />
      <xs:element minOccurs="0" name="OtherMethodDischargeActivities" nillable="true" type="tns:ArrayOfOtherMethodDischargeActivity" />
      <xs:element minOccurs="0" name="PointVelocityDischargeActivities" nillable="true" type="tns:ArrayOfPointVelocityDischargeActivity" />
      <xs:element minOccurs="0" name="VolumetricDischargeActivities" nillable="true" type="tns:ArrayOfVolumetricDischargeActivity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DischargeActivity" nillable="true" type="tns:DischargeActivity" />
  <xs:complexType name="ArrayOfAdcpDischargeActivity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdcpDischargeActivity" nillable="true" type="tns:AdcpDischargeActivity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdcpDischargeActivity" nillable="true" type="tns:ArrayOfAdcpDischargeActivity" />
  <xs:complexType name="AdcpDischargeActivity">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdcpDeviceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Area" nillable="true" type="tns:QuantityWithDisplay" />
      <xs:element minOccurs="0" name="BottomEstimateExponent" nillable="true" xmlns:q10="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" type="q10:DoubleWithDisplay" />
      <xs:element minOccurs="0" name="BottomEstimateMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepthReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DischargeChannelMeasurement" nillable="true" type="tns:DischargeChannelMeasurement" />
      <xs:element minOccurs="0" name="DischargeCoefficientVariation" nillable="true" xmlns:q11="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" type="q11:DoubleWithDisplay" />
      <xs:element minOccurs="0" name="FirmwareVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="MagneticVariation" nillable="true" xmlns:q12="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" type="q12:DoubleWithDisplay" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NavigationMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodeDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfTransects" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PercentOfDischargeMeasured" nillable="true" xmlns:q13="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" type="q13:DoubleWithDisplay" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoftwareVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TopEstimateExponent" nillable="true" xmlns:q14="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" type="q14:DoubleWithDisplay" />
      <xs:element minOccurs="0" name="TopEstimateMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransducerDepth" nillable="true" type="tns:QuantityWithDisplay" />
      <xs:element minOccurs="0" name="VelocityAverage" nillable="true" type="tns:QuantityWithDisplay" />
      <xs:element minOccurs="0" name="Width" nillable="true" type="tns:QuantityWithDisplay" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdcpDischargeActivity" nillable="true" type="tns:AdcpDischargeActivity" />
  <xs:complexType name="DischargeChannelMeasurement">
    <xs:sequence>
      <xs:element minOccurs="0" name="Channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChannelEvenness" xmlns:q15="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q15:ChannelEvennessType" />
      <xs:element minOccurs="0" name="ChannelMaterial" xmlns:q16="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q16:ChannelMaterialType" />
      <xs:element minOccurs="0" name="ChannelStability" xmlns:q17="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q17:ChannelStabilityType" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentMeter" xmlns:q18="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q18:CurrentMeterType" />
      <xs:element minOccurs="0" name="DeploymentMethod" xmlns:q19="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q19:DeploymentMethodType" />
      <xs:element minOccurs="0" name="Discharge" nillable="true" type="tns:QuantityWithDisplay" />
      <xs:element minOccurs="0" name="DistanceToGage" nillable="true" type="tns:QuantityWithDisplay" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" xmlns:q20="http://schemas.datacontract.org/2004/07/System" type="q20:DateTimeOffset" />
      <xs:element minOccurs="0" name="HorizontalFlow" xmlns:q21="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q21:HorizontalFlowType" />
      <xs:element minOccurs="0" name="MeasurementLocationToGage" xmlns:q22="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q22:MeasurementLocationToGageType" />
      <xs:element minOccurs="0" name="MeterSuspension" xmlns:q23="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q23:MeterSuspensionType" />
      <xs:element minOccurs="0" name="MonitoringMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Party" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" xmlns:q24="http://schemas.datacontract.org/2004/07/System" type="q24:DateTimeOffset" />
      <xs:element minOccurs="0" name="VelocityVariation" xmlns:q25="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q25:VelocityVariationType" />
      <xs:element minOccurs="0" name="VerticalVelocityDistribution" xmlns:q26="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q26:VerticalVelocityDistributionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DischargeChannelMeasurement" nillable="true" type="tns:DischargeChannelMeasurement" />
  <xs:complexType name="DischargeSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adjustment" nillable="true" type="tns:Adjustment" />
      <xs:element minOccurs="0" name="AlternateRatingDischarge" nillable="true" type="tns:QuantityWithDisplay" />
      <xs:element minOccurs="0" name="BaseFlow" xmlns:q27="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q27:BaseFlowType" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DifferenceDuringVisit" nillable="true" xmlns:q28="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" type="q28:DoubleWithDisplay" />
      <xs:element minOccurs="0" name="Discharge" nillable="true" type="tns:QuantityWithDisplay" />
      <xs:element minOccurs="0" name="DischargeMeasurementReason" xmlns:q29="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q29:DischargeMeasurementReasonType" />
      <xs:element minOccurs="0" name="DischargeMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DurationInHours" nillable="true" xmlns:q30="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" type="q30:DoubleWithDisplay" />
      <xs:element minOccurs="0" name="GageHeightCalculation" xmlns:q31="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q31:GageHeightCalculationType" />
      <xs:element minOccurs="0" name="GageHeightReadings" nillable="true" type="tns:ArrayOfGageHeightReading" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="MeanGageHeight" nillable="true" type="tns:QuantityWithDisplay" />
      <xs:element minOccurs="0" name="MeanGageHeightMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MeanIndexVelocity" nillable="true" type="tns:QuantityWithDisplay" />
      <xs:element minOccurs="0" name="MeasurementEndTime" nillable="true" xmlns:q32="http://schemas.datacontract.org/2004/07/System" type="q32:DateTimeOffset" />
      <xs:element minOccurs="0" name="MeasurementGrade" xmlns:q33="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q33:MeasurementGradeType" />
      <xs:element minOccurs="0" name="MeasurementId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MeasurementStartTime" nillable="true" xmlns:q34="http://schemas.datacontract.org/2004/07/System" type="q34:DateTimeOffset" />
      <xs:element minOccurs="0" name="MeasurementTime" xmlns:q35="http://schemas.datacontract.org/2004/07/System" type="q35:DateTimeOffset" />
      <xs:element minOccurs="0" name="Party" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Publish" type="xs:boolean" />
      <xs:element minOccurs="0" name="Reviewer" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DischargeSummary" nillable="true" type="tns:DischargeSummary" />
  <xs:complexType name="Adjustment">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdjustmentAmount" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="AdjustmentType" xmlns:q36="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q36:AdjustmentType" />
      <xs:element minOccurs="0" name="ReasonForAdjustment" xmlns:q37="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q37:ReasonForAdjustmentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Adjustment" nillable="true" type="tns:Adjustment" />
  <xs:complexType name="ArrayOfGageHeightReading">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GageHeightReading" nillable="true" type="tns:GageHeightReading" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGageHeightReading" nillable="true" type="tns:ArrayOfGageHeightReading" />
  <xs:complexType name="GageHeightReading">
    <xs:sequence>
      <xs:element minOccurs="0" name="GageHeight" nillable="true" xmlns:q38="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" type="q38:DoubleWithDisplay" />
      <xs:element minOccurs="0" name="IsUsed" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReadingTime" nillable="true" xmlns:q39="http://schemas.datacontract.org/2004/07/System" type="q39:DateTimeOffset" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GageHeightReading" nillable="true" type="tns:GageHeightReading" />
  <xs:complexType name="ArrayOfEngineeredStructureDischargeActivity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EngineeredStructureDischargeActivity" nillable="true" type="tns:EngineeredStructureDischargeActivity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEngineeredStructureDischargeActivity" nillable="true" type="tns:ArrayOfEngineeredStructureDischargeActivity" />
  <xs:complexType name="EngineeredStructureDischargeActivity">
    <xs:sequence>
      <xs:element minOccurs="0" name="DischargeChannelMeasurement" nillable="true" type="tns:DischargeChannelMeasurement" />
      <xs:element minOccurs="0" name="EquationForSelectedStructure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="MeanHead" nillable="true" type="tns:QuantityWithDisplay" />
      <xs:element minOccurs="0" name="StructureType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EngineeredStructureDischargeActivity" nillable="true" type="tns:EngineeredStructureDischargeActivity" />
  <xs:complexType name="ArrayOfOtherMethodDischargeActivity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OtherMethodDischargeActivity" nillable="true" type="tns:OtherMethodDischargeActivity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOtherMethodDischargeActivity" nillable="true" type="tns:ArrayOfOtherMethodDischargeActivity" />
  <xs:complexType name="OtherMethodDischargeActivity">
    <xs:sequence>
      <xs:element minOccurs="0" name="DischargeChannelMeasurement" nillable="true" type="tns:DischargeChannelMeasurement" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OtherMethodDischargeActivity" nillable="true" type="tns:OtherMethodDischargeActivity" />
  <xs:complexType name="ArrayOfPointVelocityDischargeActivity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PointVelocityDischargeActivity" nillable="true" type="tns:PointVelocityDischargeActivity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPointVelocityDischargeActivity" nillable="true" type="tns:ArrayOfPointVelocityDischargeActivity" />
  <xs:complexType name="PointVelocityDischargeActivity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="tns:QuantityWithDisplay" />
      <xs:element minOccurs="0" name="DischargeChannelMeasurement" nillable="true" type="tns:DischargeChannelMeasurement" />
      <xs:element minOccurs="0" name="DischargeMethod" xmlns:q40="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q40:DischargeMethodType" />
      <xs:element minOccurs="0" name="DistanceToMeter" nillable="true" type="tns:QuantityWithDisplay" />
      <xs:element minOccurs="0" name="FirmwareVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HorizontalCoefficientUsed" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MeanObservationDurationInSeconds" nillable="true" xmlns:q41="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" type="q41:DoubleWithDisplay" />
      <xs:element minOccurs="0" name="MeterEquation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MeterInspectedAfter" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="MeterInspectedBefore" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="MethodCoefficientUsed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodeDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfPanels" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoftwareVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartPoint" xmlns:q42="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q42:StartPointType" />
      <xs:element minOccurs="0" name="SuspensionCoefficientUsed" type="xs:boolean" />
      <xs:element minOccurs="0" name="SuspensionWeight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VelocityAverage" nillable="true" type="tns:QuantityWithDisplay" />
      <xs:element minOccurs="0" name="VelocityObservationMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Width" nillable="true" type="tns:QuantityWithDisplay" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PointVelocityDischargeActivity" nillable="true" type="tns:PointVelocityDischargeActivity" />
  <xs:complexType name="ArrayOfVolumetricDischargeActivity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VolumetricDischargeActivity" nillable="true" type="tns:VolumetricDischargeActivity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVolumetricDischargeActivity" nillable="true" type="tns:ArrayOfVolumetricDischargeActivity" />
  <xs:complexType name="VolumetricDischargeActivity">
    <xs:sequence>
      <xs:element minOccurs="0" name="DischargeChannelMeasurement" nillable="true" type="tns:DischargeChannelMeasurement" />
      <xs:element minOccurs="0" name="IsObserved" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="MeasurementContainerVolume" nillable="true" type="tns:QuantityWithDisplay" />
      <xs:element minOccurs="0" name="VolumetricDischargeReadings" nillable="true" type="tns:ArrayOfVolumetricDischargeReading" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VolumetricDischargeActivity" nillable="true" type="tns:VolumetricDischargeActivity" />
  <xs:complexType name="ArrayOfVolumetricDischargeReading">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VolumetricDischargeReading" nillable="true" type="tns:VolumetricDischargeReading" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVolumetricDischargeReading" nillable="true" type="tns:ArrayOfVolumetricDischargeReading" />
  <xs:complexType name="VolumetricDischargeReading">
    <xs:sequence>
      <xs:element minOccurs="0" name="Discharge" nillable="true" xmlns:q43="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" type="q43:DoubleWithDisplay" />
      <xs:element minOccurs="0" name="DurationInSeconds" nillable="true" xmlns:q44="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" type="q44:DoubleWithDisplay" />
      <xs:element minOccurs="0" name="EndingVolume" nillable="true" xmlns:q45="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" type="q45:DoubleWithDisplay" />
      <xs:element minOccurs="0" name="IsUsed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartingVolume" nillable="true" xmlns:q46="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" type="q46:DoubleWithDisplay" />
      <xs:element minOccurs="0" name="VolumeChange" nillable="true" xmlns:q47="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" type="q47:DoubleWithDisplay" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VolumetricDischargeReading" nillable="true" type="tns:VolumetricDischargeReading" />
  <xs:complexType name="GageHeightAtZeroFlowActivity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicableSince" nillable="true" xmlns:q48="http://schemas.datacontract.org/2004/07/System" type="q48:DateTimeOffset" />
      <xs:element minOccurs="0" name="CalculatedDetails" nillable="true" type="tns:GageHeightAtZeroFlowCalculatedDetails" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsObserved" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="ObservedDate" nillable="true" xmlns:q49="http://schemas.datacontract.org/2004/07/System" type="q49:DateTimeOffset" />
      <xs:element minOccurs="0" name="Party" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZeroFlowHeight" nillable="true" xmlns:q50="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" type="q50:DoubleWithDisplay" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GageHeightAtZeroFlowActivity" nillable="true" type="tns:GageHeightAtZeroFlowActivity" />
  <xs:complexType name="GageHeightAtZeroFlowCalculatedDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Depth" nillable="true" xmlns:q51="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" type="q51:DoubleWithDisplay" />
      <xs:element minOccurs="0" name="DepthCertainty" nillable="true" xmlns:q52="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" type="q52:DoubleWithDisplay" />
      <xs:element minOccurs="0" name="Stage" nillable="true" xmlns:q53="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" type="q53:DoubleWithDisplay" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GageHeightAtZeroFlowCalculatedDetails" nillable="true" type="tns:GageHeightAtZeroFlowCalculatedDetails" />
  <xs:complexType name="InspectionActivity">
    <xs:sequence>
      <xs:element minOccurs="0" name="CalibrationChecks" nillable="true" type="tns:ArrayOfCalibrationCheck" />
      <xs:element minOccurs="0" name="Inspections" nillable="true" type="tns:ArrayOfInspection" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="Party" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Readings" nillable="true" type="tns:ArrayOfReading" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InspectionActivity" nillable="true" type="tns:InspectionActivity" />
  <xs:complexType name="ArrayOfCalibrationCheck">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CalibrationCheck" nillable="true" type="tns:CalibrationCheck" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCalibrationCheck" nillable="true" type="tns:ArrayOfCalibrationCheck" />
  <xs:complexType name="CalibrationCheck">
    <xs:sequence>
      <xs:element minOccurs="0" name="CalibrationCheckType" xmlns:q54="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q54:CalibrationCheckType" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Difference" nillable="true" xmlns:q55="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" type="q55:DoubleWithDisplay" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MonitoringMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodeDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parameter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PercentDifference" nillable="true" xmlns:q56="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" type="q56:DoubleWithDisplay" />
      <xs:element minOccurs="0" name="Publish" type="xs:boolean" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Standard" nillable="true" xmlns:q57="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" type="q57:DoubleWithDisplay" />
      <xs:element minOccurs="0" name="StandardDetails" nillable="true" type="tns:StandardDetails" />
      <xs:element minOccurs="0" name="SubLocationIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" xmlns:q58="http://schemas.datacontract.org/2004/07/System" type="q58:DateTimeOffset" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" xmlns:q59="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" type="q59:DoubleWithDisplay" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalibrationCheck" nillable="true" type="tns:CalibrationCheck" />
  <xs:complexType name="StandardDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpirationDate" nillable="true" xmlns:q60="http://schemas.datacontract.org/2004/07/System" type="q60:DateTimeOffset" />
      <xs:element minOccurs="0" name="LotNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StandardCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temperature" nillable="true" xmlns:q61="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" type="q61:DoubleWithDisplay" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StandardDetails" nillable="true" type="tns:StandardDetails" />
  <xs:complexType name="ArrayOfInspection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Inspection" nillable="true" type="tns:Inspection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInspection" nillable="true" type="tns:ArrayOfInspection" />
  <xs:complexType name="Inspection">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InspectionType" xmlns:q62="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q62:InspectionType" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubLocationIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" xmlns:q63="http://schemas.datacontract.org/2004/07/System" type="q63:DateTimeOffset" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Inspection" nillable="true" type="tns:Inspection" />
  <xs:complexType name="ArrayOfReading">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reading" nillable="true" type="tns:Reading" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReading" nillable="true" type="tns:ArrayOfReading" />
  <xs:complexType name="Reading">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MonitoringMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodeDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parameter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Publish" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReadingType" xmlns:q64="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q64:ReadingType" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubLocationIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" xmlns:q65="http://schemas.datacontract.org/2004/07/System" type="q65:DateTimeOffset" />
      <xs:element minOccurs="0" name="Uncertainty" nillable="true" xmlns:q66="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" type="q66:DoubleWithDisplay" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" xmlns:q67="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" type="q67:DoubleWithDisplay" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reading" nillable="true" type="tns:Reading" />
  <xs:complexType name="CompletedWork">
    <xs:sequence>
      <xs:element minOccurs="0" name="BiologicalSampleTaken" type="xs:boolean" />
      <xs:element minOccurs="0" name="CollectionAgency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroundWaterLevelPerformed" type="xs:boolean" />
      <xs:element minOccurs="0" name="LevelsPerformed" type="xs:boolean" />
      <xs:element minOccurs="0" name="OtherSampleTaken" type="xs:boolean" />
      <xs:element minOccurs="0" name="RecorderDataCollected" type="xs:boolean" />
      <xs:element minOccurs="0" name="SafetyInspectionPerformed" type="xs:boolean" />
      <xs:element minOccurs="0" name="SedimentSampleTaken" type="xs:boolean" />
      <xs:element minOccurs="0" name="WaterQualitySampleTaken" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompletedWork" nillable="true" type="tns:CompletedWork" />
</xs:schema>