src/main/resources/rawAqSchemas/13.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="AttachmentCategory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="None" />
      <xs:enumeration value="LocationPhoto" />
      <xs:enumeration value="Notes" />
      <xs:enumeration value="Site" />
      <xs:enumeration value="Channel" />
      <xs:enumeration value="Measurement" />
      <xs:enumeration value="CrossSection" />
      <xs:enumeration value="Inspection" />
      <xs:enumeration value="InventoryControl" />
      <xs:enumeration value="LevelSurvey" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AttachmentCategory" nillable="true" type="tns:AttachmentCategory" />
  <xs:simpleType name="AttachmentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Binary" />
      <xs:enumeration value="Swami" />
      <xs:enumeration value="Image" />
      <xs:enumeration value="Video" />
      <xs:enumeration value="Audio" />
      <xs:enumeration value="Pdf" />
      <xs:enumeration value="Xml" />
      <xs:enumeration value="Text" />
      <xs:enumeration value="Zip" />
      <xs:enumeration value="HistoricalSwami" />
      <xs:enumeration value="AquaCalc" />
      <xs:enumeration value="FlowTracker" />
      <xs:enumeration value="HFC" />
      <xs:enumeration value="ScotLogger" />
      <xs:enumeration value="SonTek" />
      <xs:enumeration value="WinRiver" />
      <xs:enumeration value="LoggerFile" />
      <xs:enumeration value="GeneratedReport" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AttachmentType" nillable="true" type="tns:AttachmentType" />
  <xs:simpleType name="ControlCleanedType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Unspecified" />
      <xs:enumeration value="ControlCleaned" />
      <xs:enumeration value="ControlNotCleaned" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ControlCleanedType" nillable="true" type="tns:ControlCleanedType" />
  <xs:simpleType name="ControlConditionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Unspecifed" />
      <xs:enumeration value="Clear" />
      <xs:enumeration value="FillControlChanged" />
      <xs:enumeration value="ScourControlChanged" />
      <xs:enumeration value="DebrisLight" />
      <xs:enumeration value="DebrisModerate" />
      <xs:enumeration value="DebrisHeavy" />
      <xs:enumeration value="VegetationLight" />
      <xs:enumeration value="VegetationModerate" />
      <xs:enumeration value="VegetationHeavy" />
      <xs:enumeration value="IceAnchor" />
      <xs:enumeration value="IceCover" />
      <xs:enumeration value="IceShore" />
      <xs:enumeration value="Submerged" />
      <xs:enumeration value="NoFlow" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ControlConditionType" nillable="true" type="tns:ControlConditionType" />
  <xs:simpleType name="ChannelEvennessType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Unspecified" />
      <xs:enumeration value="Even" />
      <xs:enumeration value="Uneven" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ChannelEvennessType" nillable="true" type="tns:ChannelEvennessType" />
  <xs:simpleType name="ChannelMaterialType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Unspecified" />
      <xs:enumeration value="SiltMud" />
      <xs:enumeration value="Sand" />
      <xs:enumeration value="Gravel" />
      <xs:enumeration value="Cobbles" />
      <xs:enumeration value="CobblesBoulders" />
      <xs:enumeration value="BedrockLedgeArtificial" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ChannelMaterialType" nillable="true" type="tns:ChannelMaterialType" />
  <xs:simpleType name="ChannelStabilityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Unspecified" />
      <xs:enumeration value="Soft" />
      <xs:enumeration value="Firm" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ChannelStabilityType" nillable="true" type="tns:ChannelStabilityType" />
  <xs:simpleType name="CurrentMeterType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Unspecified" />
      <xs:enumeration value="SidewaysLookingAdvm" />
      <xs:enumeration value="UpwardLookingAdvm" />
      <xs:enumeration value="Estimated" />
      <xs:enumeration value="Adcp" />
      <xs:enumeration value="Adv" />
      <xs:enumeration value="ElectromagneticVelocityMeter" />
      <xs:enumeration value="IceVaneMeter" />
      <xs:enumeration value="PolymerCupAaMeter" />
      <xs:enumeration value="PolymerCupPygmyMeter" />
      <xs:enumeration value="OpticalCurrent" />
      <xs:enumeration value="HorizontalShaft" />
      <xs:enumeration value="PriceAa" />
      <xs:enumeration value="Pygmy" />
      <xs:enumeration value="Radar" />
      <xs:enumeration value="TimeOfTravel" />
      <xs:enumeration value="Nwis48TransferredVelocity" />
      <xs:enumeration value="UltrasonicMeter" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CurrentMeterType" nillable="true" type="tns:CurrentMeterType" />
  <xs:simpleType name="DeploymentMethodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Unspecified" />
      <xs:enumeration value="Wading" />
      <xs:enumeration value="BridgeUpstreamSide" />
      <xs:enumeration value="BridgeDownstreamSide" />
      <xs:enumeration value="Cableway" />
      <xs:enumeration value="Ice" />
      <xs:enumeration value="MannedMovingBoat" />
      <xs:enumeration value="StationaryBoat" />
      <xs:enumeration value="RemoteControlledBoat" />
      <xs:enumeration value="Other" />
      <xs:enumeration value="Boat" />
      <xs:enumeration value="BridgeCrane" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DeploymentMethodType" nillable="true" type="tns:DeploymentMethodType" />
  <xs:simpleType name="HorizontalFlowType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Unspecified" />
      <xs:enumeration value="Even" />
      <xs:enumeration value="Uneven" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="HorizontalFlowType" nillable="true" type="tns:HorizontalFlowType" />
  <xs:simpleType name="MeasurementLocationToGageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Unspecified" />
      <xs:enumeration value="AtTheGage" />
      <xs:enumeration value="Upstream" />
      <xs:enumeration value="Downstream" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MeasurementLocationToGageType" nillable="true" type="tns:MeasurementLocationToGageType" />
  <xs:simpleType name="MeterSuspensionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Unspecified" />
      <xs:enumeration value="TopSettingWadingRod" />
      <xs:enumeration value="RoundRod" />
      <xs:enumeration value="PackReel" />
      <xs:enumeration value="AReel" />
      <xs:enumeration value="BReel" />
      <xs:enumeration value="EReel" />
      <xs:enumeration value="HandLine" />
      <xs:enumeration value="RigidBoatMount" />
      <xs:enumeration value="TetheredBoat" />
      <xs:enumeration value="IceSurfaceMount" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MeterSuspensionType" nillable="true" type="tns:MeterSuspensionType" />
  <xs:simpleType name="VelocityVariationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Unspecified" />
      <xs:enumeration value="Steady" />
      <xs:enumeration value="Pulsating" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="VelocityVariationType" nillable="true" type="tns:VelocityVariationType" />
  <xs:simpleType name="VerticalVelocityDistributionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Unspecified" />
      <xs:enumeration value="Uniform" />
      <xs:enumeration value="Standard" />
      <xs:enumeration value="NonStandard" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="VerticalVelocityDistributionType" nillable="true" type="tns:VerticalVelocityDistributionType" />
  <xs:simpleType name="AdjustmentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Percentage" />
      <xs:enumeration value="Amount" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AdjustmentType" nillable="true" type="tns:AdjustmentType" />
  <xs:simpleType name="ReasonForAdjustmentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Unspecified" />
      <xs:enumeration value="Measured" />
      <xs:enumeration value="AdjustedForStorage" />
      <xs:enumeration value="AdjustedForOtherFlows" />
      <xs:enumeration value="MainChannelFlowOnly" />
      <xs:enumeration value="AdjustedForTidalEffect" />
      <xs:enumeration value="AdjustedForOtherFactors" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReasonForAdjustmentType" nillable="true" type="tns:ReasonForAdjustmentType" />
  <xs:simpleType name="BaseFlowType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Unspecified" />
      <xs:enumeration value="BaseFlow" />
      <xs:enumeration value="NonBaseFlow" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BaseFlowType" nillable="true" type="tns:BaseFlowType" />
  <xs:simpleType name="DischargeMeasurementReasonType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Routine" />
      <xs:enumeration value="Check" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DischargeMeasurementReasonType" nillable="true" type="tns:DischargeMeasurementReasonType" />
  <xs:simpleType name="GageHeightCalculationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="ManuallyCalculated" />
      <xs:enumeration value="SimpleAverage" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GageHeightCalculationType" nillable="true" type="tns:GageHeightCalculationType" />
  <xs:simpleType name="MeasurementGradeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Unspecified" />
      <xs:enumeration value="Excellent" />
      <xs:enumeration value="Good" />
      <xs:enumeration value="Fair" />
      <xs:enumeration value="Poor" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MeasurementGradeType" nillable="true" type="tns:MeasurementGradeType" />
  <xs:simpleType name="DischargeMethodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="MidSection" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DischargeMethodType" nillable="true" type="tns:DischargeMethodType" />
  <xs:simpleType name="StartPointType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Unspecified" />
      <xs:enumeration value="LeftEdgeOfWater" />
      <xs:enumeration value="RightEdgeOfWater" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StartPointType" nillable="true" type="tns:StartPointType" />
  <xs:simpleType name="CalibrationCheckType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="PreCalibration" />
      <xs:enumeration value="Calibration" />
      <xs:enumeration value="PostCalibration" />
      <xs:enumeration value="CheckbarAsFound" />
      <xs:enumeration value="CheckbarAsChanged" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CalibrationCheckType" nillable="true" type="tns:CalibrationCheckType" />
  <xs:simpleType name="InspectionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="BubbleGage" />
      <xs:enumeration value="CrestStageGage" />
      <xs:enumeration value="WireWeightGage" />
      <xs:enumeration value="MaximumMinimumGage" />
      <xs:enumeration value="WaterQuality" />
      <xs:enumeration value="FieldMeter" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="InspectionType" nillable="true" type="tns:InspectionType" />
  <xs:simpleType name="ReadingType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Routine" />
      <xs:enumeration value="ResetBefore" />
      <xs:enumeration value="ResetAfter" />
      <xs:enumeration value="CleaningBefore" />
      <xs:enumeration value="CleaningAfter" />
      <xs:enumeration value="AfterCalibration" />
      <xs:enumeration value="ReferencePrimary" />
      <xs:enumeration value="Reference" />
      <xs:enumeration value="ExtremeMin" />
      <xs:enumeration value="ExtremeMax" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReadingType" nillable="true" type="tns:ReadingType" />
  <xs:simpleType name="MeterType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Unspecified" />
      <xs:enumeration value="SidewaysLookingAdvm" />
      <xs:enumeration value="UpwardLookingAdvm" />
      <xs:enumeration value="Estimated" />
      <xs:enumeration value="Adcp" />
      <xs:enumeration value="Adv" />
      <xs:enumeration value="ElectromagneticVelocityMeter" />
      <xs:enumeration value="IceVaneMeter" />
      <xs:enumeration value="PolymerCupAaMeter" />
      <xs:enumeration value="PolymerCupPygmyMeter" />
      <xs:enumeration value="OpticalCurrent" />
      <xs:enumeration value="HorizontalShaft" />
      <xs:enumeration value="PriceAa" />
      <xs:enumeration value="Pygmy" />
      <xs:enumeration value="Radar" />
      <xs:enumeration value="TimeOfTravel" />
      <xs:enumeration value="Nwis48TransferredVelocity" />
      <xs:enumeration value="UltrasonicMeter" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MeterType" nillable="true" type="tns:MeterType" />
</xs:schema>