src/main/resources/alteredAqSchemas/2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/NodaTime" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WebApps.ServiceModel.Enums" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit" />
  <xs:complexType name="ArrayOfExtendedAttributeFilter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtendedAttributeFilter" nillable="true" type="tns:ExtendedAttributeFilter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExtendedAttributeFilter" nillable="true" type="tns:ArrayOfExtendedAttributeFilter" />
  <xs:complexType name="ExtendedAttributeFilter">
    <xs:sequence>
      <xs:element minOccurs="0" name="FilterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilterValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExtendedAttributeFilter" nillable="true" type="tns:ExtendedAttributeFilter" />
  <xs:complexType name="ArrayOfTimeSeriesUniqueIds">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeSeriesUniqueIds" nillable="true" type="tns:TimeSeriesUniqueIds" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeSeriesUniqueIds" nillable="true" type="tns:ArrayOfTimeSeriesUniqueIds" />
  <xs:complexType name="TimeSeriesUniqueIds">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstPointChanged" nillable="true" xmlns:q1="http://schemas.datacontract.org/2004/07/System" type="q1:DateTimeOffset" />
      <xs:element minOccurs="0" name="HasAttributeChange" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="UniqueId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeSeriesUniqueIds" nillable="true" type="tns:TimeSeriesUniqueIds" />
  <xs:complexType name="ExpandedRatingCurve">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdjustedRatingTable" nillable="true" type="tns:ArrayOfRatingPoint" />
      <xs:element minOccurs="0" name="BaseRatingTable" nillable="true" type="tns:ArrayOfRatingPoint" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InputParameter" nillable="true" type="tns:ParameterWithUnit" />
      <xs:element minOccurs="0" name="IsBlended" type="xs:boolean" />
      <xs:element minOccurs="0" name="Offsets" nillable="true" type="tns:ArrayOfOffsetPoint" />
      <xs:element minOccurs="0" name="OutputParameter" nillable="true" type="tns:ParameterWithUnit" />
      <xs:element minOccurs="0" name="PeriodsOfApplicability" nillable="true" type="tns:ArrayOfPeriodOfApplicability" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Shifts" nillable="true" type="tns:ArrayOfRatingShift" />
      <xs:element minOccurs="0" name="Type" type="tns:RatingCurveType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpandedRatingCurve" nillable="true" type="tns:ExpandedRatingCurve" />
  <xs:complexType name="ArrayOfRatingPoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RatingPoint" nillable="true" type="tns:RatingPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRatingPoint" nillable="true" type="tns:ArrayOfRatingPoint" />
  <xs:complexType name="RatingPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="InputValue" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="OutputValue" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RatingPoint" nillable="true" type="tns:RatingPoint" />
  <xs:complexType name="ParameterWithUnit">
    <xs:sequence>
      <xs:element minOccurs="0" name="ParameterName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterUnit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParameterWithUnit" nillable="true" type="tns:ParameterWithUnit" />
  <xs:complexType name="ArrayOfOffsetPoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OffsetPoint" nillable="true" type="tns:OffsetPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOffsetPoint" nillable="true" type="tns:ArrayOfOffsetPoint" />
  <xs:complexType name="OffsetPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="InputValue" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Offset" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OffsetPoint" nillable="true" type="tns:OffsetPoint" />
  <xs:complexType name="ArrayOfPeriodOfApplicability">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PeriodOfApplicability" nillable="true" type="tns:PeriodOfApplicability" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPeriodOfApplicability" nillable="true" type="tns:ArrayOfPeriodOfApplicability" />
  <xs:complexType name="PeriodOfApplicability">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndTime" xmlns:q2="http://schemas.datacontract.org/2004/07/System" type="q2:DateTimeOffset" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" xmlns:q3="http://schemas.datacontract.org/2004/07/System" type="q3:DateTimeOffset" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PeriodOfApplicability" nillable="true" type="tns:PeriodOfApplicability" />
  <xs:complexType name="ArrayOfRatingShift">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RatingShift" nillable="true" type="tns:RatingShift" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRatingShift" nillable="true" type="tns:ArrayOfRatingShift" />
  <xs:complexType name="RatingShift">
    <xs:sequence>
      <xs:element minOccurs="0" name="PeriodOfApplicability" nillable="true" type="tns:PeriodOfApplicability" />
      <xs:element minOccurs="0" name="ShiftPoints" nillable="true" type="tns:ArrayOfRatingShiftPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RatingShift" nillable="true" type="tns:RatingShift" />
  <xs:complexType name="ArrayOfRatingShiftPoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RatingShiftPoint" nillable="true" type="tns:RatingShiftPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRatingShiftPoint" nillable="true" type="tns:ArrayOfRatingShiftPoint" />
  <xs:complexType name="RatingShiftPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="InputValue" type="xs:double" />
      <xs:element minOccurs="0" name="Shift" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RatingShiftPoint" nillable="true" type="tns:RatingShiftPoint" />
  <xs:simpleType name="RatingCurveType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LinearTable" />
      <xs:enumeration value="LogarithmicTable" />
      <xs:enumeration value="StandardEquation" />
      <xs:enumeration value="DescriptiveEquation" />
      <xs:enumeration value="LinearRegressionModel" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RatingCurveType" nillable="true" type="tns:RatingCurveType" />
  <xs:complexType name="ArrayOfUnitMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UnitMetadata" nillable="true" type="tns:UnitMetadata" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUnitMetadata" nillable="true" type="tns:ArrayOfUnitMetadata" />
  <xs:complexType name="UnitMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseMultiplier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BaseOffset" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Symbol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnitMetadata" nillable="true" type="tns:UnitMetadata" />
  <xs:complexType name="ArrayOfCorrection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Correction" nillable="true" type="tns:Correction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCorrection" nillable="true" type="tns:ArrayOfCorrection" />
  <xs:complexType name="Correction">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppliedTimeUtc" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" xmlns:q4="http://schemas.datacontract.org/2004/07/System" type="q4:DateTimeOffset" />
      <xs:element minOccurs="0" name="Parameters" nillable="true" xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" type="q5:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="ProcessingOrder" type="tns:CorrectionProcessingOrder" />
      <xs:element minOccurs="0" name="StartTime" xmlns:q6="http://schemas.datacontract.org/2004/07/System" type="q6:DateTimeOffset" />
      <xs:element minOccurs="0" name="Type" type="tns:CorrectionType" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Correction" nillable="true" type="tns:Correction" />
  <xs:simpleType name="CorrectionProcessingOrder">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PreProcessing" />
      <xs:enumeration value="Normal" />
      <xs:enumeration value="PostProcessing" />
      <xs:enumeration value="Suppression" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CorrectionProcessingOrder" nillable="true" type="tns:CorrectionProcessingOrder" />
  <xs:simpleType name="CorrectionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Offset" />
      <xs:enumeration value="USGSMultiPoint" />
      <xs:enumeration value="RevertToRaw" />
      <xs:enumeration value="DeleteRegion" />
      <xs:enumeration value="CopyPaste" />
      <xs:enumeration value="FillGaps" />
      <xs:enumeration value="PersistenceGapFill" />
      <xs:enumeration value="Drift" />
      <xs:enumeration value="Percent" />
      <xs:enumeration value="ReplaceWithGap" />
      <xs:enumeration value="ClockDrift" />
      <xs:enumeration value="Resample" />
      <xs:enumeration value="Recession" />
      <xs:enumeration value="AdjustableTrim" />
      <xs:enumeration value="ThresholdTrim" />
      <xs:enumeration value="ThresholdSuppression" />
      <xs:enumeration value="FlagTrim" />
      <xs:enumeration value="SingleGap" />
      <xs:enumeration value="Amplification" />
      <xs:enumeration value="SinglePoint" />
      <xs:enumeration value="Deviation" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CorrectionType" nillable="true" type="tns:CorrectionType" />
  <xs:complexType name="ArrayOfStagePoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StagePoint" nillable="true" type="tns:StagePoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStagePoint" nillable="true" type="tns:ArrayOfStagePoint" />
  <xs:complexType name="StagePoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorrectedValue" type="xs:double" />
      <xs:element minOccurs="0" name="Correction" type="xs:double" />
      <xs:element minOccurs="0" name="InputValue" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StagePoint" nillable="true" type="tns:StagePoint" />
  <xs:complexType name="ArrayOfParameterMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParameterMetadata" nillable="true" type="tns:ParameterMetadata" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParameterMetadata" nillable="true" type="tns:ArrayOfParameterMetadata" />
  <xs:complexType name="ParameterMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InterpolationType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoundingSpec" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitGroupIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitIdentifier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParameterMetadata" nillable="true" type="tns:ParameterMetadata" />
  <xs:complexType name="ArrayOfTimeSeriesDescription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeSeriesDescription" nillable="true" type="tns:TimeSeriesDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeSeriesDescription" nillable="true" type="tns:ArrayOfTimeSeriesDescription" />
  <xs:complexType name="TimeSeriesDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComputationIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ComputationPeriodIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExtendedAttributes" nillable="true" type="tns:ArrayOfExtendedAttribute" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastModified" xmlns:q7="http://schemas.datacontract.org/2004/07/System" type="q7:DateTimeOffset" />
      <xs:element minOccurs="0" name="LocationIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parameter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Publish" type="xs:boolean" />
      <xs:element minOccurs="0" name="RawEndTime" nillable="true" xmlns:q8="http://schemas.datacontract.org/2004/07/System" type="q8:DateTimeOffset" />
      <xs:element minOccurs="0" name="RawStartTime" nillable="true" xmlns:q9="http://schemas.datacontract.org/2004/07/System" type="q9:DateTimeOffset" />
      <xs:element minOccurs="0" name="SubLocationIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Thresholds" nillable="true" type="tns:ArrayOfTimeSeriesThreshold" />
      <xs:element minOccurs="0" name="TimeSeriesType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UniqueId" type="ser:guid" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UtcOffset" type="xs:double" />
      <xs:element minOccurs="0" name="UtcOffsetIsoDuration" xmlns:q10="http://schemas.datacontract.org/2004/07/NodaTime" type="q10:Offset" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeSeriesDescription" nillable="true" type="tns:TimeSeriesDescription" />
  <xs:complexType name="ArrayOfExtendedAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtendedAttribute" nillable="true" type="tns:ExtendedAttribute" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExtendedAttribute" nillable="true" type="tns:ArrayOfExtendedAttribute" />
  <xs:complexType name="ExtendedAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExtendedAttribute" nillable="true" type="tns:ExtendedAttribute" />
  <xs:complexType name="ArrayOfTimeSeriesThreshold">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeSeriesThreshold" nillable="true" type="tns:TimeSeriesThreshold" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeSeriesThreshold" nillable="true" type="tns:ArrayOfTimeSeriesThreshold" />
  <xs:complexType name="TimeSeriesThreshold">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Periods" nillable="true" type="tns:ArrayOfTimeSeriesThresholdPeriod" />
      <xs:element minOccurs="0" name="ReferenceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Severity" type="xs:int" />
      <xs:element minOccurs="0" name="Type" xmlns:q11="http://schemas.datacontract.org/2004/07/WebApps.ServiceModel.Enums" type="q11:ThresholdType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeSeriesThreshold" nillable="true" type="tns:TimeSeriesThreshold" />
  <xs:complexType name="ArrayOfTimeSeriesThresholdPeriod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeSeriesThresholdPeriod" nillable="true" type="tns:TimeSeriesThresholdPeriod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeSeriesThresholdPeriod" nillable="true" type="tns:ArrayOfTimeSeriesThresholdPeriod" />
  <xs:complexType name="TimeSeriesThresholdPeriod">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppliedTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndTime" xmlns:q12="http://schemas.datacontract.org/2004/07/System" type="q12:DateTimeOffset" />
      <xs:element minOccurs="0" name="ReferenceValue" type="xs:double" />
      <xs:element minOccurs="0" name="SecondaryReferenceValue" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="StartTime" xmlns:q13="http://schemas.datacontract.org/2004/07/System" type="q13:DateTimeOffset" />
      <xs:element minOccurs="0" name="SuppressData" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeSeriesThresholdPeriod" nillable="true" type="tns:TimeSeriesThresholdPeriod" />
  <xs:complexType name="ArrayOfEffectiveShift">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EffectiveShift" nillable="true" type="tns:EffectiveShift" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEffectiveShift" nillable="true" type="tns:ArrayOfEffectiveShift" />
  <xs:complexType name="EffectiveShift">
    <xs:sequence>
      <xs:element minOccurs="0" name="Timestamp" xmlns:q14="http://schemas.datacontract.org/2004/07/System" type="q14:DateTimeOffset" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EffectiveShift" nillable="true" type="tns:EffectiveShift" />
  <xs:complexType name="ArrayOfRatingModelDescription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RatingModelDescription" nillable="true" type="tns:RatingModelDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRatingModelDescription" nillable="true" type="tns:ArrayOfRatingModelDescription" />
  <xs:complexType name="RatingModelDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InputParameter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InputUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastModified" xmlns:q15="http://schemas.datacontract.org/2004/07/System" type="q15:DateTimeOffset" />
      <xs:element minOccurs="0" name="LocationIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutputParameter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OutputUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Publish" type="xs:boolean" />
      <xs:element minOccurs="0" name="TemplateName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RatingModelDescription" nillable="true" type="tns:RatingModelDescription" />
  <xs:complexType name="ArrayOfApproval">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Approval" nillable="true" type="tns:Approval" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApproval" nillable="true" type="tns:ArrayOfApproval" />
  <xs:complexType name="Approval">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TimeRange">
        <xs:sequence>
          <xs:element minOccurs="0" name="ApprovalLevel" type="xs:int" />
          <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateAppliedUtc" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LevelDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Approval" nillable="true" type="tns:Approval" />
  <xs:complexType name="TimeRange">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndTime" xmlns:q16="http://schemas.datacontract.org/2004/07/System" type="q16:DateTimeOffset" />
      <xs:element minOccurs="0" name="StartTime" xmlns:q17="http://schemas.datacontract.org/2004/07/System" type="q17:DateTimeOffset" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeRange" nillable="true" type="tns:TimeRange" />
  <xs:complexType name="ArrayOfGapTolerance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GapTolerance" nillable="true" type="tns:GapTolerance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGapTolerance" nillable="true" type="tns:ArrayOfGapTolerance" />
  <xs:complexType name="GapTolerance">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TimeRange">
        <xs:sequence>
          <xs:element minOccurs="0" name="ToleranceInMinutes" nillable="true" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GapTolerance" nillable="true" type="tns:GapTolerance" />
  <xs:complexType name="ArrayOfGrade">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Grade" nillable="true" type="tns:Grade" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGrade" nillable="true" type="tns:ArrayOfGrade" />
  <xs:complexType name="Grade">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TimeRange">
        <xs:sequence>
          <xs:element minOccurs="0" name="GradeCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Grade" nillable="true" type="tns:Grade" />
  <xs:complexType name="ArrayOfInterpolationType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InterpolationType" nillable="true" type="tns:InterpolationType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInterpolationType" nillable="true" type="tns:ArrayOfInterpolationType" />
  <xs:complexType name="InterpolationType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TimeRange">
        <xs:sequence>
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InterpolationType" nillable="true" type="tns:InterpolationType" />
  <xs:complexType name="ArrayOfMethod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Method" nillable="true" type="tns:Method" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMethod" nillable="true" type="tns:ArrayOfMethod" />
  <xs:complexType name="Method">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TimeRange">
        <xs:sequence>
          <xs:element minOccurs="0" name="MethodCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Method" nillable="true" type="tns:Method" />
  <xs:complexType name="ArrayOfNote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Note" nillable="true" type="tns:Note" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNote" nillable="true" type="tns:ArrayOfNote" />
  <xs:complexType name="Note">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TimeRange">
        <xs:sequence>
          <xs:element minOccurs="0" name="NoteText" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Note" nillable="true" type="tns:Note" />
  <xs:complexType name="ArrayOfTimeSeriesPoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeSeriesPoint" nillable="true" type="tns:TimeSeriesPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeSeriesPoint" nillable="true" type="tns:ArrayOfTimeSeriesPoint" />
  <xs:complexType name="TimeSeriesPoint">
    <xs:sequence>
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="tns:StatisticalDateTimeOffset" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="tns:DoubleWithDisplay" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeSeriesPoint" nillable="true" type="tns:TimeSeriesPoint" />
  <xs:complexType name="StatisticalDateTimeOffset">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTimeOffset" xmlns:q18="http://schemas.datacontract.org/2004/07/System" type="q18:DateTimeOffset" />
      <xs:element minOccurs="0" name="RepresentsEndOfTimePeriod" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatisticalDateTimeOffset" nillable="true" type="tns:StatisticalDateTimeOffset" />
  <xs:complexType name="DoubleWithDisplay">
    <xs:sequence>
      <xs:element minOccurs="0" name="Display" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numeric" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DoubleWithDisplay" nillable="true" type="tns:DoubleWithDisplay" />
  <xs:complexType name="ArrayOfQualifier">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Qualifier" nillable="true" type="tns:Qualifier" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQualifier" nillable="true" type="tns:ArrayOfQualifier" />
  <xs:complexType name="Qualifier">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TimeRange">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateApplied" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Qualifier" nillable="true" type="tns:Qualifier" />
  <xs:complexType name="StatisticalTimeRange">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="tns:StatisticalDateTimeOffset" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="tns:StatisticalDateTimeOffset" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatisticalTimeRange" nillable="true" type="tns:StatisticalTimeRange" />
  <xs:complexType name="ArrayOfProcessor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Processor" nillable="true" type="tns:Processor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProcessor" nillable="true" type="tns:ArrayOfProcessor" />
  <xs:complexType name="Processor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InputRatingModelIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InputTimeSeriesUniqueIds" nillable="true" xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" type="q19:ArrayOfguid" />
      <xs:element minOccurs="0" name="OutputTimeSeriesUniqueId" type="ser:guid" />
      <xs:element minOccurs="0" name="ProcessorPeriod" nillable="true" type="tns:TimeRange" />
      <xs:element minOccurs="0" name="ProcessorType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Settings" nillable="true" xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" type="q20:ArrayOfKeyValueOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Processor" nillable="true" type="tns:Processor" />
  <xs:complexType name="ArrayOfApprovalsTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApprovalsTransaction" nillable="true" type="tns:ApprovalsTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApprovalsTransaction" nillable="true" type="tns:ArrayOfApprovalsTransaction" />
  <xs:complexType name="ApprovalsTransaction">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Approval">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ApprovalsTransaction" nillable="true" type="tns:ApprovalsTransaction" />
  <xs:complexType name="ArrayOfLocationMonitoringMethod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocationMonitoringMethod" nillable="true" type="tns:LocationMonitoringMethod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocationMonitoringMethod" nillable="true" type="tns:ArrayOfLocationMonitoringMethod" />
  <xs:complexType name="LocationMonitoringMethod">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Method" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parameter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubLocationIdentifier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationMonitoringMethod" nillable="true" type="tns:LocationMonitoringMethod" />
  <xs:complexType name="ArrayOfFieldVisitDescription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FieldVisitDescription" nillable="true" type="tns:FieldVisitDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFieldVisitDescription" nillable="true" type="tns:ArrayOfFieldVisitDescription" />
  <xs:complexType name="FieldVisitDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="CompletedWork" nillable="true" xmlns:q21="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit" type="q21:CompletedWork" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" xmlns:q22="http://schemas.datacontract.org/2004/07/System" type="q22:DateTimeOffset" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastModified" xmlns:q23="http://schemas.datacontract.org/2004/07/System" type="q23:DateTimeOffset" />
      <xs:element minOccurs="0" name="LocationIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Party" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" xmlns:q24="http://schemas.datacontract.org/2004/07/System" type="q24:DateTimeOffset" />
      <xs:element minOccurs="0" name="Weather" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FieldVisitDescription" nillable="true" type="tns:FieldVisitDescription" />
  <xs:complexType name="ArrayOfMetadataChangeTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MetadataChangeTransaction" nillable="true" type="tns:MetadataChangeTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMetadataChangeTransaction" nillable="true" type="tns:ArrayOfMetadataChangeTransaction" />
  <xs:complexType name="MetadataChangeTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppliedByUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppliedTime" xmlns:q25="http://schemas.datacontract.org/2004/07/System" type="q25:DateTimeOffset" />
      <xs:element minOccurs="0" name="ContentType" type="tns:MetadataChangeContentType" />
      <xs:element minOccurs="0" name="CorrectionOperations" nillable="true" type="tns:ArrayOfCorrectionOperation" />
      <xs:element minOccurs="0" name="GapToleranceOperations" nillable="true" type="tns:ArrayOfGapToleranceOperation" />
      <xs:element minOccurs="0" name="GradeOperations" nillable="true" type="tns:ArrayOfGradeOperation" />
      <xs:element minOccurs="0" name="InterpolationTypeOperations" nillable="true" type="tns:ArrayOfInterpolationTypeOperation" />
      <xs:element minOccurs="0" name="MethodOperations" nillable="true" type="tns:ArrayOfMethodOperation" />
      <xs:element minOccurs="0" name="NoteOperations" nillable="true" type="tns:ArrayOfNoteOperation" />
      <xs:element minOccurs="0" name="QualifierOperations" nillable="true" type="tns:ArrayOfQualifierOperation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MetadataChangeTransaction" nillable="true" type="tns:MetadataChangeTransaction" />
  <xs:simpleType name="MetadataChangeContentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Corrected" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MetadataChangeContentType" nillable="true" type="tns:MetadataChangeContentType" />
  <xs:complexType name="ArrayOfCorrectionOperation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CorrectionOperation" nillable="true" type="tns:CorrectionOperation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCorrectionOperation" nillable="true" type="tns:ArrayOfCorrectionOperation" />
  <xs:complexType name="CorrectionOperation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TimeRange">
        <xs:sequence>
          <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateAppliedUtc" type="xs:dateTime" />
          <xs:element minOccurs="0" name="OperationType" type="tns:MetadataChangeOperationType" />
          <xs:element minOccurs="0" name="Parameters" nillable="true" xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" type="q26:ArrayOfKeyValueOfstringanyType" />
          <xs:element minOccurs="0" name="ProcessingOrder" type="tns:CorrectionProcessingOrder" />
          <xs:element minOccurs="0" name="StackPosition" type="xs:int" />
          <xs:element minOccurs="0" name="Type" type="tns:CorrectionType" />
          <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CorrectionOperation" nillable="true" type="tns:CorrectionOperation" />
  <xs:simpleType name="MetadataChangeOperationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Creation" />
      <xs:enumeration value="Deletion" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MetadataChangeOperationType" nillable="true" type="tns:MetadataChangeOperationType" />
  <xs:complexType name="ArrayOfGapToleranceOperation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GapToleranceOperation" nillable="true" type="tns:GapToleranceOperation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGapToleranceOperation" nillable="true" type="tns:ArrayOfGapToleranceOperation" />
  <xs:complexType name="GapToleranceOperation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GapTolerance">
        <xs:sequence>
          <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateAppliedUtc" type="xs:dateTime" />
          <xs:element minOccurs="0" name="OperationType" type="tns:MetadataChangeOperationType" />
          <xs:element minOccurs="0" name="StackPosition" type="xs:int" />
          <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GapToleranceOperation" nillable="true" type="tns:GapToleranceOperation" />
  <xs:complexType name="ArrayOfGradeOperation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GradeOperation" nillable="true" type="tns:GradeOperation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGradeOperation" nillable="true" type="tns:ArrayOfGradeOperation" />
  <xs:complexType name="GradeOperation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Grade">
        <xs:sequence>
          <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateAppliedUtc" type="xs:dateTime" />
          <xs:element minOccurs="0" name="OperationType" type="tns:MetadataChangeOperationType" />
          <xs:element minOccurs="0" name="StackPosition" type="xs:int" />
          <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GradeOperation" nillable="true" type="tns:GradeOperation" />
  <xs:complexType name="ArrayOfInterpolationTypeOperation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InterpolationTypeOperation" nillable="true" type="tns:InterpolationTypeOperation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInterpolationTypeOperation" nillable="true" type="tns:ArrayOfInterpolationTypeOperation" />
  <xs:complexType name="InterpolationTypeOperation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InterpolationType">
        <xs:sequence>
          <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateAppliedUtc" type="xs:dateTime" />
          <xs:element minOccurs="0" name="OperationType" type="tns:MetadataChangeOperationType" />
          <xs:element minOccurs="0" name="StackPosition" type="xs:int" />
          <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InterpolationTypeOperation" nillable="true" type="tns:InterpolationTypeOperation" />
  <xs:complexType name="ArrayOfMethodOperation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MethodOperation" nillable="true" type="tns:MethodOperation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMethodOperation" nillable="true" type="tns:ArrayOfMethodOperation" />
  <xs:complexType name="MethodOperation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Method">
        <xs:sequence>
          <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DateAppliedUtc" type="xs:dateTime" />
          <xs:element minOccurs="0" name="OperationType" type="tns:MetadataChangeOperationType" />
          <xs:element minOccurs="0" name="StackPosition" type="xs:int" />
          <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MethodOperation" nillable="true" type="tns:MethodOperation" />
  <xs:complexType name="ArrayOfNoteOperation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NoteOperation" nillable="true" type="tns:NoteOperation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNoteOperation" nillable="true" type="tns:ArrayOfNoteOperation" />
  <xs:complexType name="NoteOperation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Note">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateAppliedUtc" type="xs:dateTime" />
          <xs:element minOccurs="0" name="OperationType" type="tns:MetadataChangeOperationType" />
          <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NoteOperation" nillable="true" type="tns:NoteOperation" />
  <xs:complexType name="ArrayOfQualifierOperation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QualifierOperation" nillable="true" type="tns:QualifierOperation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQualifierOperation" nillable="true" type="tns:ArrayOfQualifierOperation" />
  <xs:complexType name="QualifierOperation">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:TimeRange">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateAppliedUtc" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OperationType" type="tns:MetadataChangeOperationType" />
          <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="QualifierOperation" nillable="true" type="tns:QualifierOperation" />
  <xs:complexType name="LocationDatum">
    <xs:sequence>
      <xs:element minOccurs="0" name="DatumPeriods" nillable="true" type="tns:ArrayOfLocationDatumPeriod" />
      <xs:element minOccurs="0" name="ReferenceStandard" nillable="true" type="tns:LocationReferenceStandard" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationDatum" nillable="true" type="tns:LocationDatum" />
  <xs:complexType name="ArrayOfLocationDatumPeriod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocationDatumPeriod" nillable="true" type="tns:LocationDatumPeriod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocationDatumPeriod" nillable="true" type="tns:ArrayOfLocationDatumPeriod" />
  <xs:complexType name="LocationDatumPeriod">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppliedTimeUtc" xmlns:q27="http://schemas.datacontract.org/2004/07/NodaTime" type="q27:Instant" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MeasurementDirection" type="tns:MeasurementDirection" />
      <xs:element minOccurs="0" name="OffsetToStandard" type="xs:double" />
      <xs:element minOccurs="0" name="Standard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeRange" nillable="true" type="tns:TimeRange" />
      <xs:element minOccurs="0" name="UnitIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationDatumPeriod" nillable="true" type="tns:LocationDatumPeriod" />
  <xs:simpleType name="MeasurementDirection">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="TopDown" />
      <xs:enumeration value="BottomUp" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MeasurementDirection" nillable="true" type="tns:MeasurementDirection" />
  <xs:complexType name="LocationReferenceStandard">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReferenceStandard" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferenceStandardOffsets" nillable="true" type="tns:ArrayOfReferenceStandardOffset" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationReferenceStandard" nillable="true" type="tns:LocationReferenceStandard" />
  <xs:complexType name="ArrayOfReferenceStandardOffset">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReferenceStandardOffset" nillable="true" type="tns:ReferenceStandardOffset" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReferenceStandardOffset" nillable="true" type="tns:ArrayOfReferenceStandardOffset" />
  <xs:complexType name="ReferenceStandardOffset">
    <xs:sequence>
      <xs:element minOccurs="0" name="OffsetToReferenceStandard" type="xs:double" />
      <xs:element minOccurs="0" name="Standard" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReferenceStandardOffset" nillable="true" type="tns:ReferenceStandardOffset" />
  <xs:complexType name="ArrayOfLocationRemark">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocationRemark" nillable="true" type="tns:LocationRemark" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocationRemark" nillable="true" type="tns:ArrayOfLocationRemark" />
  <xs:complexType name="LocationRemark">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateTime" nillable="true" xmlns:q28="http://schemas.datacontract.org/2004/07/System" type="q28:DateTimeOffset" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromTime" nillable="true" xmlns:q29="http://schemas.datacontract.org/2004/07/System" type="q29:DateTimeOffset" />
      <xs:element minOccurs="0" name="Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ToTime" nillable="true" xmlns:q30="http://schemas.datacontract.org/2004/07/System" type="q30:DateTimeOffset" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationRemark" nillable="true" type="tns:LocationRemark" />
  <xs:complexType name="ArrayOfQualifierMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="QualifierMetadata" nillable="true" type="tns:QualifierMetadata" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfQualifierMetadata" nillable="true" type="tns:ArrayOfQualifierMetadata" />
  <xs:complexType name="QualifierMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QualifierMetadata" nillable="true" type="tns:QualifierMetadata" />
  <xs:complexType name="ArrayOfMonitoringMethod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MonitoringMethod" nillable="true" type="tns:MonitoringMethod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMonitoringMethod" nillable="true" type="tns:ArrayOfMonitoringMethod" />
  <xs:complexType name="MonitoringMethod">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MethodCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parameter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoundingSpec" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MonitoringMethod" nillable="true" type="tns:MonitoringMethod" />
  <xs:complexType name="ArrayOfLocationDescription">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocationDescription" nillable="true" type="tns:LocationDescription" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocationDescription" nillable="true" type="tns:ArrayOfLocationDescription" />
  <xs:complexType name="LocationDescription">
    <xs:sequence>
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastModified" xmlns:q31="http://schemas.datacontract.org/2004/07/System" type="q31:DateTimeOffset" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryFolder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondaryFolders" nillable="true" xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" type="q32:ArrayOfstring" />
      <xs:element minOccurs="0" name="UniqueId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationDescription" nillable="true" type="tns:LocationDescription" />
  <xs:complexType name="ArrayOfRatingCurve">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RatingCurve" nillable="true" type="tns:RatingCurve" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRatingCurve" nillable="true" type="tns:ArrayOfRatingCurve" />
  <xs:complexType name="RatingCurve">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseRatingTable" nillable="true" type="tns:ArrayOfRatingPoint" />
      <xs:element minOccurs="0" name="Equation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InputParameter" nillable="true" type="tns:ParameterWithUnit" />
      <xs:element minOccurs="0" name="Offsets" nillable="true" type="tns:ArrayOfOffsetPoint" />
      <xs:element minOccurs="0" name="OutputParameter" nillable="true" type="tns:ParameterWithUnit" />
      <xs:element minOccurs="0" name="PeriodsOfApplicability" nillable="true" type="tns:ArrayOfPeriodOfApplicability" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Shifts" nillable="true" type="tns:ArrayOfRatingShift" />
      <xs:element minOccurs="0" name="Type" type="tns:RatingCurveType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RatingCurve" nillable="true" type="tns:RatingCurve" />
  <xs:complexType name="ArrayOfGradeMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GradeMetadata" nillable="true" type="tns:GradeMetadata" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGradeMetadata" nillable="true" type="tns:ArrayOfGradeMetadata" />
  <xs:complexType name="GradeMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GradeMetadata" nillable="true" type="tns:GradeMetadata" />
  <xs:complexType name="ArrayOfApprovalMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApprovalMetadata" nillable="true" type="tns:ApprovalMetadata" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApprovalMetadata" nillable="true" type="tns:ArrayOfApprovalMetadata" />
  <xs:complexType name="ApprovalMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApprovalMetadata" nillable="true" type="tns:ApprovalMetadata" />
</xs:schema>