src/main/resources/alteredAqSchemas/6.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceStack" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceStack" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.servicestack.net/types" />
  <xs:complexType name="Authenticate">
    <xs:sequence>
      <xs:element minOccurs="0" name="provider" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oauth_token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oauth_verifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RememberMe" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Continue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nonce" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="uri" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="response" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="qop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cnonce" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Meta" nillable="true" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" type="q1:ArrayOfKeyValueOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Authenticate" nillable="true" type="tns:Authenticate" />
  <xs:complexType name="AuthenticateResponseObj">
    <xs:sequence>
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReferrerUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseStatus" nillable="true" xmlns:q2="http://schemas.servicestack.net/types" type="q2:ResponseStatus" />
      <xs:element minOccurs="0" name="Meta" nillable="true" xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" type="q3:ArrayOfKeyValueOfstringstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthenticateResponseObj" nillable="true" type="tns:AuthenticateResponseObj" />
</xs:schema>