src/test/resources/aqSchema/10.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="ArrayOfAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attachment" nillable="true" type="tns:Attachment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttachment" nillable="true" type="tns:ArrayOfAttachment" />
  <xs:complexType name="Attachment">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttachmentType" xmlns:q1="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q1:AttachmentType" />
      <xs:element minOccurs="0" name="DateCreated" nillable="true" xmlns:q2="http://schemas.datacontract.org/2004/07/System" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateUploaded" nillable="true" xmlns:q3="http://schemas.datacontract.org/2004/07/System" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Attachment" nillable="true" type="tns:Attachment" />
  <xs:complexType name="ControlConditionActivity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ControlCleaned" xmlns:q4="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q4:ControlCleanedType" />
      <xs:element minOccurs="0" name="ControlCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ControlCondition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateCleaned" nillable="true" xmlns:q5="http://schemas.datacontract.org/2004/07/System" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DistanceToGage" nillable="true" type="tns:UnitWithValue" />
      <xs:element minOccurs="0" name="FlowOverControl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="Party" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ControlConditionActivity" nillable="true" type="tns:ControlConditionActivity" />
  <xs:complexType name="UnitWithValue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UnitWithValue" nillable="true" type="tns:UnitWithValue" />
  <xs:complexType name="ArrayOfDischargeActivity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DischargeActivity" nillable="true" type="tns:DischargeActivity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDischargeActivity" nillable="true" type="tns:ArrayOfDischargeActivity" />
  <xs:complexType name="DischargeActivity">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdcpDischargeActivities" nillable="true" type="tns:ArrayOfAdcpDischargeActivity" />
      <xs:element minOccurs="0" name="DischargeSummary" nillable="true" type="tns:DischargeSummary" />
      <xs:element minOccurs="0" name="EngineeredStructureDischargeActivities" nillable="true" type="tns:ArrayOfEngineeredStructureDischargeActivity" />
      <xs:element minOccurs="0" name="OtherMethodDischargeActivities" nillable="true" type="tns:ArrayOfOtherMethodDischargeActivity" />
      <xs:element minOccurs="0" name="PointVelocityDischargeActivities" nillable="true" type="tns:ArrayOfPointVelocityDischargeActivity" />
      <xs:element minOccurs="0" name="VolumetricDischargeActivities" nillable="true" type="tns:ArrayOfVolumetricDischargeActivity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DischargeActivity" nillable="true" type="tns:DischargeActivity" />
  <xs:complexType name="ArrayOfAdcpDischargeActivity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdcpDischargeActivity" nillable="true" type="tns:AdcpDischargeActivity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdcpDischargeActivity" nillable="true" type="tns:ArrayOfAdcpDischargeActivity" />
  <xs:complexType name="AdcpDischargeActivity">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdcpDeviceType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Area" nillable="true" type="tns:UnitWithValue" />
      <xs:element minOccurs="0" name="BottomEstimateCoefficient" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="BottomEstimateMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DepthReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DischargeChannelMeasurement" nillable="true" type="tns:DischargeChannelMeasurement" />
      <xs:element minOccurs="0" name="DischargeCoefficientVariation" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="FirmwareVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="MagneticVariation" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NavigationCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodeDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfTransects" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PercentOfDischargeMeasured" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoftwareVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TopEstimateCoefficient" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="TopEstimateMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransducerDepth" nillable="true" type="tns:UnitWithValue" />
      <xs:element minOccurs="0" name="VelocityAverage" nillable="true" type="tns:UnitWithValue" />
      <xs:element minOccurs="0" name="VelocityMeterSuspension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Width" nillable="true" type="tns:UnitWithValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdcpDischargeActivity" nillable="true" type="tns:AdcpDischargeActivity" />
  <xs:complexType name="DischargeChannelMeasurement">
    <xs:sequence>
      <xs:element minOccurs="0" name="Channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChannelEvenness" xmlns:q6="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q6:ChannelEvennessType" />
      <xs:element minOccurs="0" name="ChannelMaterial" xmlns:q7="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q7:ChannelMaterialType" />
      <xs:element minOccurs="0" name="ChannelStability" xmlns:q8="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q8:ChannelStabilityType" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentMeter" xmlns:q9="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q9:CurrentMeterType" />
      <xs:element minOccurs="0" name="DeploymentMethod" xmlns:q10="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q10:DeploymentMethodType" />
      <xs:element minOccurs="0" name="Discharge" nillable="true" type="tns:UnitWithValue" />
      <xs:element minOccurs="0" name="DistanceToGage" nillable="true" type="tns:UnitWithValue" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" xmlns:q11="http://schemas.datacontract.org/2004/07/System" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HorizontalFlow" xmlns:q12="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q12:HorizontalFlowType" />
      <xs:element minOccurs="0" name="MeasurementLocationToGage" xmlns:q13="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q13:MeasurementLocationToGageType" />
      <xs:element minOccurs="0" name="MonitoringMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Party" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" xmlns:q14="http://schemas.datacontract.org/2004/07/System" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VerticalVelocity" xmlns:q15="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q15:VelocityDistributionType" />
      <xs:element minOccurs="0" name="VerticalVelocityDistribution" xmlns:q16="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q16:VerticalVelocityDistributionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DischargeChannelMeasurement" nillable="true" type="tns:DischargeChannelMeasurement" />
  <xs:complexType name="DischargeSummary">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adjustment" nillable="true" type="tns:Adjustment" />
      <xs:element minOccurs="0" name="AlternateRatingDischarge" nillable="true" type="tns:UnitWithValue" />
      <xs:element minOccurs="0" name="BaseFlow" xmlns:q17="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q17:BaseFlowType" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DifferenceDuringVisit" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Discharge" nillable="true" type="tns:UnitWithValue" />
      <xs:element minOccurs="0" name="DischargeMeasurementReason" xmlns:q18="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q18:DischargeMeasurementReasonType" />
      <xs:element minOccurs="0" name="DurationInHours" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="GageHeightCalculation" xmlns:q19="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q19:GageHeightCalculationType" />
      <xs:element minOccurs="0" name="GageHeightReadings" nillable="true" type="tns:ArrayOfGageHeightReading" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="MeanGageHeight" nillable="true" type="tns:UnitWithValue" />
      <xs:element minOccurs="0" name="MeanIndexVelocity" nillable="true" type="tns:UnitWithValue" />
      <xs:element minOccurs="0" name="MeasurementEndTime" nillable="true" xmlns:q20="http://schemas.datacontract.org/2004/07/System" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MeasurementGrade" xmlns:q21="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q21:MeasurementGradeType" />
      <xs:element minOccurs="0" name="MeasurementStartTime" nillable="true" xmlns:q22="http://schemas.datacontract.org/2004/07/System" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Party" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Publish" type="xs:boolean" />
      <xs:element minOccurs="0" name="Reviewer" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DischargeSummary" nillable="true" type="tns:DischargeSummary" />
  <xs:complexType name="Adjustment">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdjustmentAmount" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="AdjustmentType" xmlns:q23="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q23:AdjustmentType" />
      <xs:element minOccurs="0" name="ReasonForAdjustment" xmlns:q24="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q24:ReasonForAdjustmentType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Adjustment" nillable="true" type="tns:Adjustment" />
  <xs:complexType name="ArrayOfGageHeightReading">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GageHeightReading" nillable="true" type="tns:GageHeightReading" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGageHeightReading" nillable="true" type="tns:ArrayOfGageHeightReading" />
  <xs:complexType name="GageHeightReading">
    <xs:sequence>
      <xs:element minOccurs="0" name="GageHeight" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="IsUsed" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReadingTime" nillable="true" xmlns:q25="http://schemas.datacontract.org/2004/07/System" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GageHeightReading" nillable="true" type="tns:GageHeightReading" />
  <xs:complexType name="ArrayOfEngineeredStructureDischargeActivity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EngineeredStructureDischargeActivity" nillable="true" type="tns:EngineeredStructureDischargeActivity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEngineeredStructureDischargeActivity" nillable="true" type="tns:ArrayOfEngineeredStructureDischargeActivity" />
  <xs:complexType name="EngineeredStructureDischargeActivity">
    <xs:sequence>
      <xs:element minOccurs="0" name="DischargeChannelMeasurement" nillable="true" type="tns:DischargeChannelMeasurement" />
      <xs:element minOccurs="0" name="EquationForSelectedStructure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="MeanHead" nillable="true" type="tns:UnitWithValue" />
      <xs:element minOccurs="0" name="StructureType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EngineeredStructureDischargeActivity" nillable="true" type="tns:EngineeredStructureDischargeActivity" />
  <xs:complexType name="ArrayOfOtherMethodDischargeActivity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OtherMethodDischargeActivity" nillable="true" type="tns:OtherMethodDischargeActivity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOtherMethodDischargeActivity" nillable="true" type="tns:ArrayOfOtherMethodDischargeActivity" />
  <xs:complexType name="OtherMethodDischargeActivity">
    <xs:sequence>
      <xs:element minOccurs="0" name="DischargeChannelMeasurement" nillable="true" type="tns:DischargeChannelMeasurement" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OtherMethodDischargeActivity" nillable="true" type="tns:OtherMethodDischargeActivity" />
  <xs:complexType name="ArrayOfPointVelocityDischargeActivity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PointVelocityDischargeActivity" nillable="true" type="tns:PointVelocityDischargeActivity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPointVelocityDischargeActivity" nillable="true" type="tns:ArrayOfPointVelocityDischargeActivity" />
  <xs:complexType name="PointVelocityDischargeActivity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Area" nillable="true" type="tns:UnitWithValue" />
      <xs:element minOccurs="0" name="DischargeChannelMeasurement" nillable="true" type="tns:DischargeChannelMeasurement" />
      <xs:element minOccurs="0" name="DischargeMethod" xmlns:q26="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q26:DischargeMethodType" />
      <xs:element minOccurs="0" name="DistanceToMeter" nillable="true" type="tns:UnitWithValue" />
      <xs:element minOccurs="0" name="HorizontalCoefficientUsed" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MeanObservationDurationInSeconds" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="MeterEquation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MeterInspectedAfter" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="MeterInspectedBefore" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="MeterSuspension" xmlns:q27="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q27:MeterSuspensionType" />
      <xs:element minOccurs="0" name="MethodCoefficientUsed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodeDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumberOfPanels" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartPoint" xmlns:q28="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q28:StartPointType" />
      <xs:element minOccurs="0" name="SuspensionCoefficientUsed" type="xs:boolean" />
      <xs:element minOccurs="0" name="SuspensionWeight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VelocityAverage" nillable="true" type="tns:UnitWithValue" />
      <xs:element minOccurs="0" name="VelocityObservationMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Width" nillable="true" type="tns:UnitWithValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PointVelocityDischargeActivity" nillable="true" type="tns:PointVelocityDischargeActivity" />
  <xs:complexType name="ArrayOfVolumetricDischargeActivity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VolumetricDischargeActivity" nillable="true" type="tns:VolumetricDischargeActivity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVolumetricDischargeActivity" nillable="true" type="tns:ArrayOfVolumetricDischargeActivity" />
  <xs:complexType name="VolumetricDischargeActivity">
    <xs:sequence>
      <xs:element minOccurs="0" name="DischargeChannelMeasurement" nillable="true" type="tns:DischargeChannelMeasurement" />
      <xs:element minOccurs="0" name="IsObserved" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="MeasurementContainerUnit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MeasurementContainerVolume" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="VolumetricDischargeReadings" nillable="true" type="tns:ArrayOfVolumetricDischargeReading" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VolumetricDischargeActivity" nillable="true" type="tns:VolumetricDischargeActivity" />
  <xs:complexType name="ArrayOfVolumetricDischargeReading">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VolumetricDischargeReading" nillable="true" type="tns:VolumetricDischargeReading" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVolumetricDischargeReading" nillable="true" type="tns:ArrayOfVolumetricDischargeReading" />
  <xs:complexType name="VolumetricDischargeReading">
    <xs:sequence>
      <xs:element minOccurs="0" name="Discharge" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="DurationInSeconds" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="EndingVolume" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="IsUsed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartingVolume" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="VolumeChange" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VolumetricDischargeReading" nillable="true" type="tns:VolumetricDischargeReading" />
  <xs:complexType name="GageHeightAtZeroFlowActivity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicableSince" nillable="true" xmlns:q29="http://schemas.datacontract.org/2004/07/System" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CalculatedDetails" nillable="true" type="tns:GageHeightAtZeroFlowCalculatedDetails" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsObserved" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="ObservedDate" nillable="true" xmlns:q30="http://schemas.datacontract.org/2004/07/System" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Party" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZeroFlowHeight" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GageHeightAtZeroFlowActivity" nillable="true" type="tns:GageHeightAtZeroFlowActivity" />
  <xs:complexType name="GageHeightAtZeroFlowCalculatedDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Depth" type="xs:double" />
      <xs:element minOccurs="0" name="DepthCertainty" type="xs:double" />
      <xs:element minOccurs="0" name="Stage" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GageHeightAtZeroFlowCalculatedDetails" nillable="true" type="tns:GageHeightAtZeroFlowCalculatedDetails" />
  <xs:complexType name="InspectionActivity">
    <xs:sequence>
      <xs:element minOccurs="0" name="CalibrationChecks" nillable="true" type="tns:ArrayOfCalibrationCheck" />
      <xs:element minOccurs="0" name="Inspections" nillable="true" type="tns:ArrayOfInspection" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="Party" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Readings" nillable="true" type="tns:ArrayOfReading" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InspectionActivity" nillable="true" type="tns:InspectionActivity" />
  <xs:complexType name="ArrayOfCalibrationCheck">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CalibrationCheck" nillable="true" type="tns:CalibrationCheck" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCalibrationCheck" nillable="true" type="tns:ArrayOfCalibrationCheck" />
  <xs:complexType name="CalibrationCheck">
    <xs:sequence>
      <xs:element minOccurs="0" name="CalibrationCheckType" xmlns:q31="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q31:CalibrationCheckType" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Difference" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MonitoringMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodeDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parameter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PercentDifference" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Standard" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="StandardDetails" nillable="true" type="tns:StandardDetails" />
      <xs:element minOccurs="0" name="SubLocationIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" xmlns:q32="http://schemas.datacontract.org/2004/07/System" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Units" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalibrationCheck" nillable="true" type="tns:CalibrationCheck" />
  <xs:complexType name="StandardDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExpirationDate" nillable="true" xmlns:q33="http://schemas.datacontract.org/2004/07/System" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LotNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StandardCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temperature" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StandardDetails" nillable="true" type="tns:StandardDetails" />
  <xs:complexType name="ArrayOfInspection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Inspection" nillable="true" type="tns:Inspection" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInspection" nillable="true" type="tns:ArrayOfInspection" />
  <xs:complexType name="Inspection">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InspectionType" xmlns:q34="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q34:InspectionType" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubLocationIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" xmlns:q35="http://schemas.datacontract.org/2004/07/System" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Inspection" nillable="true" type="tns:Inspection" />
  <xs:complexType name="ArrayOfReading">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reading" nillable="true" type="tns:Reading" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReading" nillable="true" type="tns:ArrayOfReading" />
  <xs:complexType name="Reading">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsValid" type="xs:boolean" />
      <xs:element minOccurs="0" name="Manufacturer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MonitoringMethod" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NodeDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parameter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Publish" type="xs:boolean" />
      <xs:element minOccurs="0" name="ReadingType" xmlns:q36="http://schemas.datacontract.org/2004/07/Server.Services.PublishService.ServiceModel.Dtos.FieldVisit.Enum" type="q36:ReadingType" />
      <xs:element minOccurs="0" name="SerialNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubLocationIdentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" xmlns:q37="http://schemas.datacontract.org/2004/07/System" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Uncertainty" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Units" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reading" nillable="true" type="tns:Reading" />
  <xs:complexType name="CompletedWork">
    <xs:sequence>
      <xs:element minOccurs="0" name="BiologicalSampleTaken" type="xs:boolean" />
      <xs:element minOccurs="0" name="CollectionAgency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroundWaterLevelPerformed" type="xs:boolean" />
      <xs:element minOccurs="0" name="LevelsPerformed" type="xs:boolean" />
      <xs:element minOccurs="0" name="OtherSampleTaken" type="xs:boolean" />
      <xs:element minOccurs="0" name="RecorderDataCollected" type="xs:boolean" />
      <xs:element minOccurs="0" name="SafetyInspectionPerformed" type="xs:boolean" />
      <xs:element minOccurs="0" name="SedimentSampleTaken" type="xs:boolean" />
      <xs:element minOccurs="0" name="WaterQualitySampleTaken" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompletedWork" nillable="true" type="tns:CompletedWork" />
</xs:schema>