src/test/resources/aqSchema/12.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Server.Services.Authentication.ServiceModel.ResponseDtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Server.Services.Authentication.ServiceModel.ResponseDtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Session">
    <xs:sequence>
      <xs:element minOccurs="0" name="CanConfigureSystem" type="xs:boolean" />
      <xs:element minOccurs="0" name="EncryptedPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Locale" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Session" nillable="true" type="tns:Session" />
  <xs:complexType name="PublicKey">
    <xs:sequence>
      <xs:element minOccurs="0" name="KeySize" type="xs:int" />
      <xs:element minOccurs="0" name="Xml" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PublicKey" nillable="true" type="tns:PublicKey" />
  <xs:complexType name="ArrayOfSession">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Session" nillable="true" type="tns:Session" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSession" nillable="true" type="tns:ArrayOfSession" />
</xs:schema>